<ion-view view-title="Lista">

    <ion-nav-buttons side="right">
        <a href="#/new" class="button button-icon ion-plus"></a>
    </ion-nav-buttons>

    <ion-content ng-controller="ListaCtrl">
        <ion-list>
            <!--ng-hide="t.feita"-->
            <ion-item ng-repeat="t in tarefas" ng-click="editar(t.id)">
                {{t.texto}}
                <ion-option-button class="button-positive icon-left ion-checkmark-round" ng-click="concluir(t.id, t)">Concluir</ion-option-button>
                <ion-option-button class="button-assertive icon-left ion-trash-a" ng-click="apagar(t.id)">Apagar</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>